* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #F8F8F8;
    min-width: 1120px;
}

#header {
    background-color: #0854C7;
    color: #FFF;
    height: 64px;
    width: 100%;
    background-image: URL('logo.png');
    background-repeat: no-repeat;
    background-position-y: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

#menubar {
    float: right;
    margin-right: 32px;
    margin-top: -2px;
}

#menubar a {
    margin-left: 24px;
}

#newface {
    font-size: 3.0em;
    color: #FFF;
    text-decoration: none;
}

#container {
    width: 100%;
}

#layers {
    height: 512px;
    width: 256px;
}

#newlayerbutton {
    display: block;
    text-align: center;
    float: right;
    text-decoration: none;
}

#layerlist {
    list-style: none;
    margin-top: 16px;
}

#layerlist li {
    height: 24px;
    padding-left: 32px;
    cursor: pointer;
}

#layerlist li:hover {
    background: #F0F0F0;
}

#layerlist li.active {
    background: #CCDEF3;
}

#layerlist li.active:hover {
    background: #A3C1E5;
}

#preview {
    width: 512px;
    min-width: 512px;
    height: 512px;
}

#parameters {
    height: 512px;
    max-width: 256px;
}

#watchtitle {
    width: 492px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.2em;
    border: none;
    background: #FFF;
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -o-transition: background 0.5s;
}

#watchtitle:hover {
    background: #EDEDED;
}

#watchcanvas {
    background: #000;
    display: block;
    margin-top: 64px;
}

#overlay {
    background-image: URL('moto_overlay.png');
    width: 320px;
    height: 320px;
    margin-top: -320px;
    position: relative;
    z-index: 100;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.window {
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    background: #FFF;
    color: #525252;
    padding: 16px;
    margin-top: 64px;
    display: block;
}

.third {
    width: 33%;
    float: left;
}

.half {
    width: 50%;
    float: left;
}

.quarter {
    width: 25%;
    float: left;
}